.git
**.vscode
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

**.vault
**_render
**test
**.test
**backup
**.idea
**secrets
**regex
**.files
**.files_tmpl
**.tools
**.bash_history
**.out*
*.conf
wg
cl
last*

nftables
!nftables/*.rules
!nftables/*.templates
iptables
!iptables/**.rules
!iftables/*.templates
